.me-container {
  text-align: center;
  margin: 100px 20px;
  height: auto;
  width: auto;
  position: relative;
}

/* Student */

/*.me-title {
  margin-bottom: 20px;
  color: #ecf0f1;
}

.subheader {
  color: #bdc3c7;
}
*/