.weather-container {
    height: 25%;
    width: 45%;
    float: right;
    margin: 40px 0 0 0;
}
th, td {
    color: #ecf0f1;
    margin: 20px;
}

.weather-table {
    width: 100%;
    height: 100%;
}

.w-results {
    margin-top: 10px;
}